:root{
    --clr-primary: #14463a;
    --clr-secondary: #fbeee5;
    --clr-accent: #ffb91d;
    --clr-accent--dark: #e39f05;
    --clr-dark: #704d00;

    --ff-primary: 'Artegra Sans Extended SC W15', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
}

*::before,
*::after,
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html{
    font-size: 10px;
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    overflow-x: hidden;
}

img{
    display: block;
    max-width: 100%;
    user-select: none;
}

a,
button
{
    color: inherit;
    font-family: inherit;
}

a{
    text-decoration: none;
}

button:not(:disabled){
    cursor: pointer;
}

%clr-primary{
    color: var(--clr-primary);
}

%clr-secondary{
    color: var(--clr-secondary);
}

%bg-primary{
    background-color: var(--clr-primary);
}

%bg-secondary{
    background-color: var(--clr-secondary);
}

%ff-secondary{
    font-family: var(--ff-secondary);
}

%inline-block{
    display: inline-block;
}

%uppercase{
    text-transform: uppercase;
}

p{
    @extend %ff-secondary;
}

/* Buttons Style */
.btn{
    @extend %clr-primary;
    @extend %bg-secondary;
    @extend %ff-secondary;
    @extend %inline-block;
    font-weight: 700;
    padding: 0.5em 2em;
    border: 2px solid var(--clr-secondary);
    border-radius: 10rem;
    transition: all .2s ease;

    &:hover,
    &:focus
    {
        @extend %clr-secondary;
        @extend %bg-primary;
    }
}

.marquee,
.marquee__content
{
	display: flex;
	gap: var(--space);
}

.marquee{
	--space: 1em;
	--speed: 20s;
	overflow: hidden;
	user-select: none;
	color: var(--clr-dark);
	background-color: var(--clr-accent);
}

.marquee__content{
    @extend %uppercase;
	flex-shrink: 0;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
	font-size: clamp(1em, 3vw, 2.5em);
	padding: 0.6em 0;
	letter-spacing: 2px;
	white-space: nowrap;
	animation: scroll var(--speed) linear infinite;
}

.marquee__content__image{
	filter: invert(1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--space)));
  }
}

/* Navbar Style */
.navbar{
    @extend %bg-primary;
    padding-block: 2rem;

    &__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__nav{
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        @media (max-width: 767.98px) {
            display: none;
        }

        &__link{
            @extend %clr-secondary;
            @extend %ff-secondary;
            @extend %inline-block;
            font-weight: 300;

            &:hover,
            &:focus
            {
                text-decoration: underline;
            }
        }
    }
}

/* Banner Style */
.banner{
    position: relative;
    isolation: isolate;
    @extend %bg-primary;
    padding-block: 2rem;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30rem;
        @media (min-width: 992px){
            height: 25rem;
        }
        @extend %bg-secondary;
        z-index: -1;
    }

    &__title{
        --max-font-size: 15rem;
        position: relative;
        @extend %clr-secondary;
        @extend %uppercase;
        text-align: center;
        font-size: clamp(3.5rem, 11vw, var(--max-font-size));
        line-height: 0.8;

        &__word{
            display: block;
        }

        &__image{
            position: absolute;
            left: 20%;
            transform: translateY(-22%);

            @media (max-width: 991.98px) {
                display: none;
            }
        }
    }

    &__clip{
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: -5rem;
        margin-inline: auto;
        max-width: clamp(30rem, 44vw, 60rem);
        aspect-ratio: 1/1.2;

        &__circle,
        &__inner
        {
            position: absolute;
            width: 100%;
        }

        &__circle{
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: rgba($color: #000000, $alpha: 0.16);
            box-shadow: inset 0 0 10px rgba($color: #000000, $alpha: 0.07);
            z-index: -1;
        }

        &__inner{
            height: 90%;
            @media (min-width: 768px) {
                height: 100%;
            }
            border-bottom-left-radius: 100vw;
            border-bottom-right-radius: 100vw;
            overflow: hidden;
        }

    }

    &__slide{
        &__image{
            filter: drop-shadow(0 15px 10px rgba($color: #000000, $alpha: 0.02));
            max-height: clamp(35rem, 55vw, 75rem);
            @media (min-width: 768px) {
                max-height: clamp(40rem, 55vw, 75rem);
            }
            margin-inline: auto;
            transform: translateY(100%);
            transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1);
        }

        &.slick-active .banner__slide__image{
            transform: translateY(0);
        }
    }

    &__marquee{
        position: absolute;
        left: -10px;
        right: -10px;
        user-select: none;
        pointer-events: none;
        outline: 1px solid transparent;
        
        &--back{
            background-color: var(--clr-accent--dark);
            z-index: -1;
            transform: translateY(-30rem) rotate(-5deg);
            @media (min-width: 768px) and (max-width: 992px) {
                transform: translateY(-35rem) rotate(-5deg);
            }
        }

        &--front{
            transform: translateY(-30rem) rotate(4deg);
            @media (min-width: 768px) and (max-width: 992px) {
                transform: translateY(-35rem) rotate(4deg);
            }
        }
    }

    &__grid{
        position: relative;

        &__top{
            @media (min-width: 992px){
                position: absolute;
                z-index: 1;
            }
            @media (max-width: 991.98px){
                margin-block-start: 2rem;
            }
            @media (min-width: 1200px) {
                top: 0;
                margin-block-start: 10rem;
            }
            @media (max-width: 1199.98px) {
                bottom: 0;
            }

            &--left{
                max-width: 20ch;
                @extend %clr-secondary;
                @media (min-width: 1200px) {
                    margin-block-start: 12em;
                }
                @media (max-width: 1199.98px) {
                    color: var(--clr-primary);
                }
                @media (max-width: 991.98px) {
                    display: none;
                }
            }

            &--right{
                right: 0;
            }

            &__image{
                margin-inline: auto;
                margin-block-end: 2rem;

                @media (max-width: 1199.98px){
                    display: none;
                }
            }
        }
    }

    &__text{
        font-size: 1.4rem;
    }

    .slick-dots {
        display: flex;
        @media (max-width: 991.98px){
            justify-content: center;
        }
        list-style-type: none;
        gap: 2rem;

        &__btn{
            position: relative;
            display: inline-flex;
            align-items: flex-end;
            justify-content: center;
            width: 8.5rem;
            aspect-ratio: 1;
            border: 0;
            border-radius: 50%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            box-shadow: 0 0 0 0.3rem rgba($color: #000000, $alpha: 0.1);
            overflow: hidden;

            &__image{
                transition: transform .6s cubic-bezier(0.22, 1, 0.36, 1);
            }
        }

        li:not(.slick-active) .slick-dots__btn__image{
            transform: translateY(25%);
        }
    }

}
